{% extends 'Portfolio_app/base.html' %}
{% load static %}

{% block title %}Contact Me{% endblock %}

{% block content %}

<div class="seccion-principal">
    <div class="pizarra-base">
        <h2>If you want to contact me, this is the place!!</h2>
        <p>
            <ul><a href="https://wa.me/5491169656467?text=Hola!!%20Quisiera%20contratarte">Whats App</a></ul>
            <ul><a href="https://www.linkedin.com/in/axelsoubeste//">LinkedIn</a></ul>
            <ul><a href="https://github.com/AxelSoubeste?tab=overview&from=2026-04-01&to=2026-04-06">GitHub</a></ul>
            <ul><a href="mailto:axelsoubestte@gmail.com">Email</a></ul>
        </p>
    </div>
</div>

{% endblock %}