{% extends 'Portfolio_app/base.html' %}
{% load static %}

{% block title %}Projects{% endblock %}

{%block content%}

<div class="seccion-principal">
    <div class="pizarra-base">
        <h2>Here its where you can find all my projects!!</h2>
        <p>
            I'm going to put the link here for you...
        </p>
    </div>

    <div class="pizarra-base">
        <h2><a href="https://github.com/AxelSoubeste/vet_appointment-system">Vet-Appointment-System</a></h2>
        <p>
            This project was developed in the C programming language to manage appointments at a veterinary clinic.
            It was created as a practical assignment for the subject Data Structures and Algorithms.
        </p>
    </div>

    <div class="pizarra-base">
        <h2><a href="https://github.com/AxelSoubeste/mission-launches-analysis">Mission-Launches-analysis</a></h2>
        <p>
            This project analyzes a dataset of global mission launches to uncover trends, patterns, and insights in the aerospace industry.
            The dataset includes information about mission dates, organizations, statuses, costs, and other relevant details.
        </p>
    </div>
</div>

{% endblock %}